$sidebar-bg-color: #1c1a1a;
$sidebar-color: #ffffff;
$sidebar-width: 160px;
$sidebar-collapsed-width: 160px;

$icon-bg-color: #494747;
$icon-size: 52px;

$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

$black: #000000; 
$greyFour: #1c1a1a;
$greyThree: #1e1f20; 
$greyTwo: #494747; 
$greyOne: #8f92a1; 
$white: #f7f7f7; 
$purewhite: #ffffff; 

$blue: #0062ff; 
$green: #82c43c;



#root {
    height: 100%;
}

.app{

    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    background-color: $greyFour;

    .sidebar{

        height: auto;

        .sidebar-header{
            width: 165px;
            height: 20%; 
            margin: 54px 11.5px 109px 0;
            font-family: Roboto; 
            font-size: 50px;
            text-align: center;
            color: $white;
        }

        .sidebar-content{
            width: 165px;
            height: 10%;
            //padding: 58px 0px 0px 35.5px;
            padding-top: 60px; 
            padding-left: 35px;
            background-color: $greyFour;
        }

    }

    .standard {

        //height: 100%;
        width: 100%;
        //position: fixed;
        margin: 0px -30px 0px 0px;
        padding: 50px 0px 0px 0px;  
        text-align: center; 
        background-color: $purewhite;
        border-radius: 25px; 

    }

    .page {

        //height: 100%;
        width: 100%;
        //position: fixed;
        margin: 0px -30px 0px 0px;
        padding: 50px 0px 0px 0px;  
        text-align: center; 
        background-color: $purewhite;
        border-radius: 25px; 

    }

    .login {

        //height: 100%;
        width: 100%;
        //position: fixed;
        margin: 0px -30px 0px 0px;
        padding: 50px 0px 0px 0px;  
        text-align: center; 
        background-color: $purewhite;
        border-radius: 25px; 

        .slider {

            text-align: center;

            .buttonGroup {

                .button {

                    border-radius: 12px;
                    border-color: $white;

                    &:active {
                        color: $white; 
                        background-color: $greyFour; 
                    }

                }

            }


        }

        .LogIn-image{

            border-radius: 25px;
            position: fixed; 

        }



    }

    .calendar {
        
        height: 100%;
        width: 100%;
        position: relative;
        background-color: $white; 
        border-radius: 25px; 
        margin: 0px -30px 0px 0px;

        .header {
            width: 100%;
            height: 36px;
            margin: 60px 306px 40px 65px;
            font-family: Roboto;
            font-size: 30px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: $greyThree;
        }

        .timeline {
            width: 100%; 
            height: 20px; 
            margin: 40px 60px 50px 50px; 
            font-family: Roboto;
            font-size: 14px;
            color: $greyThree;

            .link {

                color: $greyThree;
                text-decoration: none;

                &:hover {
                    color: $green; 
                }

            }
        }
    }

    .admin {

        width: 100%;
        height: 1000px;
        position: relative;
        background-color: $white;
        border-radius: 25px; 
        margin: 0px -30px 0px 0px;

        .slider {

            text-align: center;

            .buttonGroup {

                .button {

                    border-radius: 12px;
                    border-color: $white;

                    &:active {
                        color: $white; 
                        background-color: $greyFour; 
                    }

                }

            }


        }

        .table {
            height: 60%;
            margin: 0px 60px 0px 30px;
            padding: 10px 10px 10px 10px;
        }

    }

    .single-page {

        background-color: $purewhite; 
        color: $greyFour; 
        margin: 0px -30px 0px 0px;
        padding: 40px 0px 0px 75px; 
        border-radius: 25px;

        .event-button {

            width: 100px; 
            height: 60px;
            background-color: $white;
            color: $greyOne
        }

        .event-image {
            
            border-radius: 25px;
        }

        .event-description-title {
            
            font-size: 16px; 
            font-weight: bold;
            color: $greyFour
        }

        .event-description {

            word-wrap: break-word; 
            //max-width: 635px; 
            color: $greyOne

        } 

        .side-thing {
            background-color: $greyFour; 
            color: $white; 
            margin: 50px 0px -30px 0px; 
            padding: 60px 0px 0px 70px;
            border-radius: 25px;
        
            width: 100%;
            height: 100%;
        
            .side-thing-element {
                background-color: $blue;
                color: $purewhite; 
                width: 340px;
                margin-top: 30px;
                border-radius: 25px;
            }
        }

    }

    

}

.dialog {
    
    color: $black; 
    text-align: center;
    padding: 10px 10px 10px 10px; 

    .dialog-content-text {
        padding: 0px 10px 20px 10px; 
    }

    .qr-code {
        text-align: center;
    }
}

